{% extends 'base.html.twig' %}

{% block title %}Pen{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}

    <h1>Liste des stylos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ pen.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pen.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ pen.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pen.description }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ pen.ref }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_pen_index') }}">Revenir à la liste</a>

    <a href="{{ path('app_admin_pen_edit', {'id': pen.id}) }}">Éditer</a>

    {{ include('admin/pen/_delete_form.html.twig') }}
{% endblock %}
